#pg-novidades {
    width: 80%;
    margin: 2% auto;
}

h2 {
    color: #8b0000;
    text-align: center;
    padding-bottom: 1%;
}

.vazio-titulo {
    width: 40%;
}

.titulo-novidade {
    width: 60%;
    margin-top: 3%;
}

.novidade {
    width: 58%;
}

p {
    font-size: 1.1em;
}

div.div-novidade {
    border-top: 1px solid #8b0000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3% 0%;
}

iframe {
    width: 40%;
}


/*Maioria dos smartphones*/
@media (min-width: 320px) and (max-width: 480px) {
    #pg-novidades {
        width: 95%;
    }

    .vazio-titulo {
        width: 0px;
    }

    iframe {
        width: 10%;
    }

    div.div-novidade {
        flex-direction: column;
    }

    p {
        font-size: 1em;
    }

    .novidade {
        margin-top: 2%;
        width: 80%;
        order: 2;
    }

    h2 {
        font-size: 1.2em;
        text-align: left;
    }

    .titulo-novidade {
        width: 100%;
    }

    #titulo-principal {
        text-align: center;
    }

    .video2 {
        order: 1;
    }
}

/*Tablets de baixas resoluções e celulares*/
@media (min-width: 481px) and (max-width: 767px) {
    #pg-novidades {
        width: 90%;
    }

    .vazio-titulo {
        width: 0px;
    }

    iframe {
        width: 10%;
    }

    div.div-novidade {
        flex-direction: column;
    }

    p {
        font-size: 1em;
    }

    .novidade {
        margin-top: 2%;
        width: 80%;
        order: 2;
    }

    h2 {
        font-size: 1.4em;
        text-align: left;
    }

    .titulo-novidade {
        width: 100%;
    }

    #titulo-principal {
        text-align: center;
    }

    .video2 {
        order: 1;
    }
}

/*Tablets grandes*/
@media (min-width: 768px) and (max-width: 1024px) {
    #pg-novidades {
        width: 90%;
    }

    .vazio-titulo {
        width: 0px;
    }

    iframe {
        width: 10%;
    }

    div.div-novidade {
        flex-direction: column;
    }

    .novidade {
        margin-top: 2%;
        width: 80%;
        order: 2;
    }

    h2 {
        font-size: 1.7em;
        text-align: left;
    }

    .titulo-novidade {
        width: 100%;
    }

    #titulo-principal {
        text-align: center;
    }

    .video2 {
        order: 1;
    }
}